a {
    text-decoration: none;
    color: black;
}

.headercom {
    background-color: rgba(93, 170, 238, 0.904);
    display: flex;
    min-height: 80px;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0px 10px 10px 0px #0000005e;
    ;
}

.navlink {
    display: flex;
    justify-content: start;
    width: 1000px;
    gap: 50px;
    margin-left: 500px;
    font-size: 20px;
    align-items: center;
}

.navlink svg {
    vertical-align: middle;
}